.Container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Element {
  border-radius: 10px;
  background-color: #f1f1f1;
  padding: 20px;
  min-width: 350px;
  margin: 6px;
}

.detailsElement h2 {
  color: black;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 4px;
}

.detailsElement p {
  color: black;
}
