.chat {
  flex-grow: 6;
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100 * var(--vh));
}

.chat__header {
  background-color: rgb(241, 241, 241);
  height: 50px;
  justify-self: start;
  align-items: center;

  display: flex;

  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
  /* position: fixed;
    top: 0;
    right: 0; */
}

.header__chat-name {
  width: 250px;
  text-align: center;
}

h4 {
  padding-right: 20px;
  font-size: 14px;
}

h4.chat__details {
  color: blue;
}

.chat__messages {
  overflow: scroll;
  height: 100%;
  padding-bottom: 70px;
  flex-grow: 20;
}

.chat__messages {
  scrollbar-width: none; /* Firefox 64 */
  -ms-overflow-style: none; /* Internet Explorer 11 */
}
.chat__messages::-webkit-scrollbar {
  /** WebKit */
  display: none;
}

.chat__input {
  height: 70px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;

  background-color: rgb(241, 241, 241);
  border-top: 1px solid lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

form.chat__input-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.chat__input input {
  /* width: 100%; */
  margin-right: 8px;
  height: 35px;
  outline-width: 0;
  border: 0;
  padding-left: 10px;
  background-color: #fff;
  border-radius: 10px;
  width: 100%;

  display: flex;
}
.chat__input > form > button {
  padding: 0;
}

@media (min-width: 768px) {
  form.chat__input-wrapper {
    width: 70%;
    /* min-width: 370px; */
  }

  .chat__input input {
    margin-right: 20px;
  }

  .chat__input > form > button {
    /* display: none; */
    padding: 10px;
  }
}
